.fa-heart {
	color: #a94442;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}

.fa-heart:hover {
	color: #ccc;
}

.fa-heart-o {
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}

.fa-heart-o:hover {
	color: #a94442;
}

.item {
	box-shadow: 2px 2px 4px 0 #999;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 0 1.5em;
	padding: 1em;
	position: relative;
	width: 100%;
}

img {
	width: 100%;
}
